[Desktop Entry]
Version=1.0
Type=Application
Name=Archrice
Comment=Archrice TUI
Exec=ghostty --class=Archrice --title=Archrice -e bash -c '$HOME/.local/share/archrice/bin/archrice'
Icon=Arch
Terminal=false
Categories=System;Utility;
StartupNotify=false 